@charset "UTF-8";
/*** Модальное окно ***/
.p_mad_title {
  text-align: center !important;
  font-size: 1em;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: none;
  /*
	pointer-events: none; /* позволяет контролировать события, при которых элемент может стать объектом события мыши.*/
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modalDialog > div {
  max-width: 400px;
  position: relative;
  margin: 5px auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div p {
  text-align: justify;
  padding-top: 5px;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

/*** модальное заказ звонка ***/
.form-zvonok {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-zvonok label,
.form-zvonok input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-zvonok label {
  font-weight: bold;
  padding: 0px;
}

.form-zvonok input {
  padding: 0px 15px;
}

.form-zvonok label span {
  color: red;
}

.form-zvonok .bot-send-mail {
  padding: 15px;
  margin-top: 10px;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #10b6fe;
  cursor: pointer;
  border: 3px #d9d9d9 solid;
  border-radius: 5px;
  width: 100%;
}

.form-zvonok .bot-send-mail:hover {
  color: #009b97;
  background-color: #fff;
}

.form-zvonok p {
  font-size: 0.9em;
}

.tel7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tel7 .tel7_2 {
  width: 94%;
}

.tel7 .tel7_1 {
  padding-top: 9.5px;
  padding-right: 5px;
}

.d_zakaz {
  display: none;
}

.text-danger {
  color: red;
}

.form-error {
  position: relative;
  padding: .5rem 1rem 0.6rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  color: #dc3545;
  background-color: #dc35450d;
  border: 1px solid #dc3545;
}

.progress {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin-bottom: 0.5rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.form-result-success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  border-radius: 4px;
}

.form-result-success > div {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #eff4f1;
  z-index: 1001;
  border-radius: 0;
  color: #10b6fe;
  background-color: #eff4f1;
}

.textarea.form-control {
  overflow: auto;
  resize: vertical;
}

.my_captcha {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.g-recaptcha {
  display: table;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .modalDialog > div {
    max-width: 300px;
  }
  .my_captcha {
    -webkit-transform: scale(0.72);
            transform: scale(0.72);
  }
}

/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 350px) and (max-width: 1200px) and (orientation: landscape) {
  .modalDialog > div {
    min-height: 85%;
    font-size: 0.7rem;
  }
  .modalDialog > div label {
    margin-bottom: 0;
  }
  .text-danger {
    font-size: 0.7rem;
  }
  .div_cap {
    max-height: 40px;
  }
  .my_captcha {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .form-zvonok label {
    padding: 0px;
    font-size: 0.7rem;
  }
  .form-zvonok input {
    padding: 0px 0px;
  }
  .form-zvonok .bot-send-mail {
    padding: 0px;
    margin-top: 0px;
    border-radius: 5px;
  }
  .form-zvonok .form-control {
    /*в jet*/
    padding: 0 0;
    font-size: 0.7rem;
  }
  .form-zvonok p {
    font-size: 1.2vw;
    padding-top: 0px;
  }
}
/*# sourceMappingURL=modal.css.map */